* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: white;
    background: #131313;
}

.trial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #131313;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}


.normal-about {
    background: #131313;
    margin: 20px;
    padding: 1rem 7rem;
}

.normal-about h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.normal-about h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.normal-about p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.highlight {
    color: dodgerblue;
}




