* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: white;
    align-items: center;
    justify-content: center;
}


.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin: 8rem;
    padding: 2.5rem;
    width: 100%;
}

.contact-image {
    width: 150px;
    height: 150px;
}